<launch>

    <!-- Running Nodes -->
    <node name= "origin_pose_publisher" pkg= "autoracing_ros" type="origin_pose_publisher" output="screen"/>
    <node name= "robot_pose_publisher" pkg= "autoracing_ros" type="robot_pose_publisher" output="screen"/>
    <node name= "scotsActionServer" pkg= "autoracing_ros" type="scots_action_server" output="screen"/>
    <node name= "target_get" pkg= "autoracing_ros" type="target_get.py" output="screen"/>

    <!-- Recording Bag File for Submission -->
    <!-- <arg name="record_robot" default="false"/>
    <arg name="rec_robot_name" default="robot.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
        args="record -O $(find autoracing_ros)/bag_files/$(arg rec_name) /cmd_vel" output="screen"/>
    </group> -->

</launch>